<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus" style="color:#180874;" ></i>
      </h1>
      
      <!-- Mensagem -->
      <% if(typeof errors != 'undefined'){ %> <% errors.forEach(function(error) { %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= error.msg %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% }); %> <% } %> <% if(success_msg != ''){ %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= success_msg %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } %> <% if(error_msg != ''){ %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= error_msg %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } %> <% if(error != ''){ %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= error %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } %>
      <!-- Mensagem -->
      
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="name">Nome</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Introduza um nome"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Introduza a senha"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Nova senha"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password2">Confirmar a senha</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirmar a senha"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Registar
        </button>
      </form>
      <p class="lead mt-4">Tens uma conta? <a href="/users/login">Entrar</a></p>
    </div>
  </div>
</div>
