<div class="card" style="width:100%;margin-top: 20px;">
    <div class="card-body">
        <h1 class="card-title" style="font-size:23px;">Deseja apagar esta Publicação?</h1>
        <br />
        <form>
            <fieldset>
                <div class="text-danger"></div>
                <input type="hidden" />
                <div class="form-group">
                    <label for="user_id">ID Utilizador</label>
                    <input id="user_id" value="<%= publ.user_id %>" class="form-control" name="user_id" type="text" readonly>
                </div>
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input id="nome" value="<%= publ.name %>" class="form-control" name="nome" type="text" readonly>
                </div>
                <div class="form-group">
                    <label for="date">Data</label>
                    <input id="date" value="<%= publ.date %>" class="form-control" name="date" type="text" readonly>
                </div>
                <div class="form-group">
                    <label for="feedback">Feedback</label>
                    <input id="feedback" value="<%= publ.feedback %>" class="form-control" name="feedback" type="text" readonly>
                </div>
                <div class="form-group">
                    <label for="last_edition_date">Última Edição</label>
                    <input id="last_edition_date" value="<%= publ.last_edition_date? publ.last_edition_date : 'NULL' %>" class="form-control" name="last_edition_date" type="text"
                        readonly>
                </div>
                <a href="/publish/delete/<%= publ._id %>" class="btn btn-danger" type="submit" >Apagar</a>
                <a href="/dashboard" class="btn btn-secondary text-light">Voltar</a>
            </fieldset>
        </form>
    </div>
</div>